<%- include("partials/Header.ejs") %>

<main>
    <section class="Profile_photo">
        <div></div>
    </section>
    <!-- --------Eduction--------- -->
    <section class="centering" id="Education">
        <h2>Education</h2>
        <hr class="underline"></hr>
    </section>
    <section class="education-port">
      <div class="education">
        <p>2008 - 2010</p>
        <p>Master of computer Science</p>
        <div class="separting">
            <div></div>
            <hr class="edu-separate"></hr>
        </div>
        <p>UNIVERSITY OF NORTH CAROLINA</p>
        <P>North carolina,USA</P>
        <p>Duis aute irure dolor in reprehenderit in vol
            patate  velit esse cillum dolore eu fugiat nulla
            pari. Excepteur sint occana inna tecat cupida
           tat non proident.</p>
      </div>
      <div class="education">
        <p>2004 - 2008</p>
        <p>Bachelor of computer Science</p>
        <div class="separting">
            <div></div>
            <hr class="edu-separate"></hr>
        </div>
        <p>UNIVERSITY OF NORTH CAROLINA</p>
        <P>North carolina,USA</P>
        <p>Duis aute irure dolor in reprehenderit in vol
            patate  velit esse cillum dolore eu fugiat nulla
            pari. Excepteur sint occana inna tecat cupida
           tat non proident.</p>
      </div>  
    </section>
    <!-- --------Skills--------- -->
    <section class="centering" id="Skills">
        <h2>Skills</h2>
        <hr class="underline"></hr>
    </section>
    <section>
        <div class="skills">
            <div class="skill-box">
                <p>HTML5</p>
                <div class="skill-percentage-align">
                    <div>
                        <div class="skill-percentage"></div>
                    </div>
                    <p>97%</p>
                </div>
                <p>CSS3</p>
                <div class="skill-percentage-align">
                    <div>
                        <div class="skill-percentage-1"></div>
                    </div>
                    <p>96%</p>
                </div>
                <p>BOOTSTRAP</p>
                <div class="skill-percentage-align">
                    <div>
                        <div class="skill-percentage-2"></div>
                    </div>
                    <p>94%</p>
                </div>
            </div>
            <div class="skill-box">
                <p>REACT</p>
                <div class="skill-percentage-align">
                    <div>
                        <div class="skill-percentage-3"></div>
                    </div>
                    <p>92%</p>
                </div>
                <p>CREATIVITY</p>
                <div class="skill-percentage-align">
                    <div>
                        <div class="skill-percentage-1"></div>
                    </div>
                    <p>96%</p>
                </div>
                <p>COMMUNICATION</p>
                <div class="skill-percentage-align">
                    <div>
                        <div class="skill-percentage-1"></div>
                    </div>
                    <p>96%</p>
                </div>
            </div>
        </div>
    </section>
    <!-- --------Portfolio--------- -->
    <section class="centering" id="Portfolio">
        <h2>Portfolio</h2>
        <hr class="underline"></hr>
    </section>
    <section class="portfolio">
        <div>
            <div class="large"><p>UL/UX DEVELOPER</p></div>
            <div class="small"><p>RESERCH</p></div>
        </div>
        <div>
            <div class="extra-large"><p>WEB DEVELOPMENT</p></div>
        </div>
        <div>
            <div class="small"><p>DEPLOYMENT</p></div>
            <div class="large"><p>WEB DESIGNS</p></div>
        </div>
    </section>
    <!-- --------Experience--------- -->
    <section class="centering" id="Experience">
        <h2>Experience</h2>
        <hr class="underline"></hr>
    </section>
    <section class="experience">
        <div>
        <div class="experience-1">
            <div>
                <p>2023-Present</p>
                <p>CREATIVE DIRECTOR</p>
            </div>
            <div class="details">
                <div class="combined">
                    <div class="separting-1"></div>
                    <div class="line-1"></div>
                </div>
                <div class="matter">
                    <p>RuSh Elysian technologies</p>
                    <p>Newyork,USA</p>
                    <p>Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident</p>
                </div>
            </div>
        </div>
        <div class="experience-1">
            <div>
                <p>2018-2023</p>
                <p>CREATIVE DIRECTOR</p>
            </div>
            <div class="details">
                <div class="combined">
                    <div class="separting-1"></div>
                    <div class="line-1"></div>
                </div>
                <div class="matter">
                    <p>HOPLONY TECH LIMITED</p>
                    <p>Newyork,USA</p>
                    <p>Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident</p>
                </div>
            </div>
        </div>
        <div class="experience-1">
            <div>
                <p>2016-2018</p>
                <p>Front end developer</p>
            </div>
            <div class="details">
                <div class="combined">
                    <div class="separting-1"></div>
                    <div class="line-1"></div>
                </div>
                <div class="matter">
                    <p>Wipro pvt ltd</p>
                    <p>Newyork,USA</p>
                    <p>Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident</p>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- --------Profile--------- -->
    <section class="centering" id="Profile">
        <h2>Profile</h2>
        <hr class="underline"></hr>
    </section>
    <section class="profile">
        <div>
            <div>
            <i class="fa-brands fa-linkedin fa-5xs size"></i>
            <h5>Asperiores</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi.</p>
            </div>
        </div>
        <div>
            <div>
                <i class="fa-brands fa-linkedin fa-5xs size"></i>
                <h5>Asperiores</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi.</p>
                </div>
        </div>
        <div>
            <div>
                <i class="fa-brands fa-linkedin fa-5xs size"></i>
                <h5>Asperiores</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi.</p>
                </div>
        </div>
        <div>
            <div>
                <i class="fa-brands fa-linkedin fa-5xs size"></i>
                <h5>Asperiores</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi.</p>
                </div>
        </div>
        <div>
            <div>
                <i class="fa-brands fa-linkedin fa-5xs size"></i>
                <h5>Asperiores</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi.</p>
                </div>
        </div>
        <div>
            <div>
                <i class="fa-brands fa-linkedin fa-5xs size"></i>
                <h5>Asperiores</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi.</p>
                </div>
        </div>
    </section>
    <!-- --------Contact--------- -->
    <section class="centering" id="Contact">
        <h2>Contact</h2>
        <hr class="underline"></hr>
    </section>
    <section class="form-0">
        <div class="form-1">
           <div class="form-2">
            <input type="text" placeholder="Name"></input>
            <input type="email" placeholder="Email">
           </div>
           <input type="text" placeholder="Subject">
           <input class="message-1" type="text" placeholder="Message">
           <button type="submit">Submit</button>
        </div>
        <div>
           <div>
             <h5>Classiey joe</h5>
             <p>UI/UX Designer| Front end developer</p>
           </div> 
           <div>
            <h5>Phone</h5>
            <p>123-456-7890</p>
           </div>
           <div>
            <h5>Email</h5>
            <p>name@domain.com</p>
           </div>
           <div>
            <h5>Website</h5>
            <p>WWW.domain.com</p>
           </div>
        </div>
    </section>
    
</main>

<%- include("partials/Footer.ejs") %>